/************************** Website Styling *************************/

/************************** General *************************/
.custom-cursor {
  cursor: url('assets/Chopstick_Cursor.cur'), auto;
}

/************************** Menu *************************/
.right_menu_padding {
    padding: 10px;
}

.left_menu_padding {
    font-size: 20px;
    padding: 10px;
    margin-left: 30px;
}

.banner {
    background-color: #A52E2A;
    height: 15px;
}

.banner-small {
  background-color: #C97439;
  height: 8px;
}

/************************** Home Allie Blurb *************************/
.allie_blurb.content {
    font-size: 20px;
    line-height: 30px;
}

/************************** Home Page Content *************************/
.mainbody {
    font-size: 18px;
    line-height: 25px;
}

.home_header {
    font-size: 24px;
    line-height: 30px;
}

.grey_background {
    padding-top: 100px;
    background-color: #F5F5F5;
    padding-bottom: 100px;
}

.dark_grey_background {
    padding: 50px;
    background-color: #3A3A3A;
}

.case_study_cover {
    /* display: block;
    max-width: 350px;
    max-height: 350px; */
    width: 100%;
    height: 100%;
}

/* Two Wide Component */
.two_wide_feature {
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px 0px rgba(138,138,138,0.59);
}

.column_content {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.text_right {
    text-align: right;
    margin-left: 0px;
}

.column.column_flex {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.text_padding {
    margin-bottom: 10px;
    margin-top: 10px;
}

.casestudy_link {
    color: #A52E2A !important;
    font-size: 12pt;
}

.spacer {
    height: 60px;
}

.link {
  color: #A52E2A !important;
  font-size: 20px;
  line-height: 30px;
  text-decoration: underline;
}

.homebackground {
  background-image: url(assets/smallBowls.png); 
  /* background-position: center bottom; */
  /* background-repeat:repeat-x;  */
  object-fit: fill;
}

/* Mobile */
@media only screen and (max-width:767.98px) {
    .allie_blurb.content {
        margin-top: 0;
    }

    .home_header {
        margin-top: 0px;
    }

    .reorder div:first-child {
        order: 2;
    }

    .text_right {
        text-align: left;
        margin-left: 20px;
    }

    .case_study_cover {
        padding: 10px;
    }

    .column .no_padding {
        padding: 0px;
    }

    #left_arrow {
        display: none;
    }

    #right_arrow {
        display: none;
    }
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url(assets/smallBowls.png);
    background-color: #fff;
}

.footer .icon {
    max-height: 30px;
    margin: 15px;
}

.website_attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #3A3A3A;
    color: #FFFFFF;
}

/************************** About Page Content *************************/
.about_header_space {
    margin-top: 50px;
}


/************************** Case Studies *************************/
.case_study.row {
    padding: 10px !important;
}

.image_divider {
    padding: 10px
}

.caption {
    margin-top: 5px;
    text-align: center;
}